

.orders__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.orders__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.orders__item {
  flex-basis: 350px;
}
