.photo__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.photo__right > img {
  flex-basis: 574px;
}

.photo__left > h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.06em;
}

.photo__left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.photo__price {
  font-weight: 600;
}

.photo__texts p {
  display: flex;
  flex-direction: column;
}

.photo__order {
  max-width: 370px;
}

@media (max-width: 615px) {
  .photo__right > img {
    flex-basis: 300px;
  }
}