.question__h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.06em;
    margin-bottom: 25px;
}
.question__tittle {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 10px;
}

.question__answer {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
}