.work__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.work__left {
  display: flex;
  flex-direction: column;
  gap: 29px;
  max-width: 459px;
}

.work__left > h2 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.06em;
}

.work__text {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.work__text span:nth-child(3) {
  font-weight: 600;
}
