.header__items {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
}

.header__texts-h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  margin: 0;
  max-width: 653px;
}

.header__texts {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__order {
  max-width: 170px;

  background: #FFFFFF;
  border: 3px solid #000000;
  /* Drop shadow */

  box-shadow: 10px 10px 0 #000000;
  border-radius: 6px;

  padding: 8px 10px;
}

.header__right img {
  flex-basis: 610px;
}

.header__items {
  position: relative;;
}

.header__left::before {
  position: absolute;
  top: 88px;
  left: 181px;
  z-index: -1;
  width: 749px;
  height: 749px;
  background-color: #A8A9E9;
  background-size: contain;
  transform: translate(-50%,-50%);
  content: "";
  pointer-events: none;
  border-radius: 402px;
}


@media (max-width: 1363px) {
  .header__right > img {
    flex-basis: 430px;
  }
}

@media (max-width: 1050px) {
  .header__items {
    display: flex;
    flex-direction: column;
  }
  .header__right {
    order: 2;
  }
  .header__left {
    order: 1;
  }

  .header__right > img {
    flex-basis: 350px;
  }
}

@media (max-width: 800px) {
  .header__texts-h1 {
    font-size: 60px;
  }
}

@media (max-width: 660px) {
  .header__left::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__texts-h1 {
    font-size: 40px;
  }
}