.cheaper__text {
  font-weight: 700;
  font-size: 51px;
  line-height: 61px;
  text-align: center;
}

@media (max-width: 800px) {
  .cheaper__text {
    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .cheaper__text {
    font-size: 20px;
    line-height: 25px;
  }
}